{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}"/>
    </head>
    <body style="text-align: center;";>
        <div>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>Message:</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
        
            <h3>Welcome to ABRS!</h3>
        
        
            {% if user.is_authenticated %}
            <h3>Hello {{fname}}!</h3>
            <h4>You're successfully logged in.</h4>
            <button type="submit"><a href="/signout">SignOut</a></button>
            {% else %}
            <button type="submit"><a href="/signup">SignUp</a></button>
            <br/>
            <br/>
            <button type="submit"><a href="/signin">SignIn</a></button>
            {% endif %}
        </div>
        <h1 class="mp-li">welcome To ABRS</h1>
        <p>{{today}}</p>
        <div class="login">

        <form action="add">
            Enter Event  : <select name="num1">
            <option value="">--Please choose an event--</option>
            <option value="1">Exam</option>
            <option value="2">Festival</option>
            <option value="3">Event</option>
            <option value="4">Weekdays</option>
        </select>
            
            
            <br><br><br>

            enter start location :  <select name="num2">
                <option value="">--Please choose a Start Location--</option>
                <option value="1">Kachiguda Railway Station</option>
                <option value="2">Lakdikapul</option>
                <option value="3">Chintal Basti Bus Stop</option>
                <option value="4">Banjara Hills Bus Stop</option>
                <option value="5">Jubilee Check Post</option>
                <option value="6">Rainbow Park</option>
                <option value="7">Madhapur Police Station Bus Stop</option>
                <option value="8">Hitech City</option>
                <option value="9">Raidurg</option>
                <option value="10">Mindspace Junction Bus Stop</option>
                <option value="11">Parade Ground Metro Station</option>
                <option value="12">Begumpet</option>
                <option value="13">Ameerpet-Maitrivanam</option>
                <option value="14">Sr Nagar Bus Stop</option>
                <option value="15">ESI</option>
                <option value="16">Erragadda</option>
                <option value="17">Moosapet</option>
                <option value="18">RTC X Road</option>
                <option value="19">Miyapur X Roads</option>
                <option value="20">Kukatpally Bus Stop</option>
                <option value="21">Narayanaguda</option>
                <option value="22">Golconda X Road</option>
                <option value="23">Musheerabad X Road</option>
                <option value="24">Gandhi Hospital Bus Stop</option>
                <option value="25">Neredmet Cross Road, 599</option>
                <option value="26">New Bowenpally Bus Stop</option>
                <option value="27">IDPL</option>
                <option value="28">Nizampet X Roads</option>
                <option value="29">Lingampally</option>
                <option value="30">Beeramguda Bus Stop</option>
                <option value="31">Bhel Pushpak</option>
                <option value="32">Patancheru Bus Station</option>
            </select>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <br><br><br>


            Enter End location   : <select name="num3">
                <option value="">--Please choose a End loaction--</option>
                <option value="1">Kachiguda Railway Station</option>
                <option value="2">Lakdikapul</option>
                <option value="3">Chintal Basti Bus Stop</option>
                <option value="4">Banjara Hills Bus Stop</option>
                <option value="5">Jubilee Check Post</option>
                <option value="6">Rainbow Park</option>
                <option value="7">Madhapur Police Station Bus Stop</option>
                <option value="8">Hitech City</option>
                <option value="9">Raidurg</option>
                <option value="10">Mindspace Junction Bus Stop</option>
                <option value="11">Parade Ground Metro Station</option>
                <option value="12">Begumpet</option>
                <option value="13">Ameerpet-Maitrivanam</option>
                <option value="14">Sr Nagar Bus Stop</option>
                <option value="15">ESI</option>
                <option value="16">Erragadda</option>
                <option value="17">Moosapet</option>
                <option value="18">RTC X Road</option>
                <option value="19">Miyapur X Roads</option>
                <option value="20">Kukatpally Bus Stop</option>
                <option value="21">Narayanaguda</option>
                <option value="22">Golconda X Road</option>
                <option value="23">Musheerabad X Road</option>
                <option value="24">Gandhi Hospital Bus Stop</option>
                <option value="25">Neredmet Cross Road, 599</option>
                <option value="26">New Bowenpally Bus Stop</option>
                <option value="27">IDPL</option>
                <option value="28">Nizampet X Roads</option>
                <option value="29">Lingampally</option>
                <option value="30">Beeramguda Bus Stop</option>
                <option value="31">Bhel Pushpak</option>
                <option value="32">Patancheru Bus Station</option>
            </select>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <br><br><br>



            enter season         : <select name="num4">
                <option value="">--Please choose an Season--</option>
                <option value="1">Sunny</option>
                <option value="2">Rainy</option>
                <option value="3">Winter</option>
            </select>
            
            
            
            
            
            
            
            
            <br><br><br>
            Enter time : <select name="num5">
                <option value="">--Please choose Time--</option>
                <option value="1">Morning</option>
                <option value="2">AfterNoon</option>
                <option value="3">Evening</option>
            </select>
            
            
            
            
            
            
            <br><br><br>
            <input type="submit">
        </form>
    </div>
        <h3>{{sum}}</h3>
    </body>
</html>